<!--TODO list:
Implement distance info viewers
Then also have a network window for when the sample is clicked on (this can be later)
-->

<!--IDEAS:
In the sample and profile viewers (modals) make them extra large and allow to select (using shift key) two
of the samples or profiles and then have the respective networks for those above one another or either
side of the main dist plot.

Implement zoom for the modal bar plots so that people can zoom in on sequences.

Have a clade toggle for the sequence bar data so that it can be viewed as clade designations rather than individuals

Have a dropdown that will allow the x axis labels to be changed from sample names, to uids to available
items like locations
-->


<!doctype html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/data_explorer.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{ url_for('static', filename='js/d3-tip.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>SymPortal DataSet results</title>
</head>
<body>

<!--NAVBAR-->
<nav class="navbar bg-light navbar-expand-sm" style="border-bottom: 1px solid rgb(243,243,243);">

    <!--To the left-->
    <ul class="navbar-nav mr-auto">
        <a class="navbar-brand">
            <img src="{{ url_for('static', filename='images/greyscale_alt1.svg') }}" alt="Logo" style="width:40px;">
        </a>
        <!--This should be the data set header that we are working with-->
        <p class="nav navbar-text">SymPortal Explorer: Restrepo et al. 2019</p>
    </ul>

    <!--To the right-->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link">Home</a>
        </li>
    </ul>
</nav>


<!--MAIN CONTENT-->
<div class="row m-5">
    <!--LHS-->
    <div class="col-md-7">
        <!--Title of the paper-->
        <h5 class="display-4" id='study_title' style="font-size:2rem;">This is going to the tile to a paper lets put in the one of Alejandros in here for the time being</h5>
        <!--Authors of the paper-->
        <div class="d-flex p-3" style="color:#777">
            <P id="authors">Author 1, Author2, Bamino. d. Hector, Senor Pulap. and Osacar Trunkey and more and more and more anad more and amorena dndfndn amoer</P>
            <P id="affiliations">Author 1, Author2, Bamino. d. Hector, Senor Pulap. and Osacar Trunkey and more and more and more anad more and amorena dndfndn amoer</P>
        </div>

        <!--POST MED SVG HOLDER-->
        <div class="card mb-3 plot_item" id="post_med_card">

            <div class="card-header d-inline-flex" data-toggle="collapse" data-target="#post_med_svg_collapse">
                <div class="mr-auto">Post-MED ITS2 sequences</div>


            </div>

            <div class="card-body p-0 collapse show" id="post_med_svg_collapse">
                <div class="bg-light p-2" >
                    <div class="d-flex">
                        <div class="btn-group btn-group-sm mr-auto" >
                            <button id="PostMEDRelDType" class="btn btn-light dtype-btn" data-data-type="post" style="padding:2px 4px;font-size:0.7rem;border:1px solid lightgrey">relative</button>
                            <button id="PostMEDAbsDType" class="btn btn-primary dtype-btn" data-data-type="post" style="padding:2px 4px;font-size:0.7rem;">absolute</button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="padding:2px 4px;font-size:0.7rem;">
                                   Sort by:
                                </button>
                                <div class="dropdown-menu svg_sort_by" data-data-type="post" style="padding:2px 4px;font-size:0.7rem;">
                                    <!--populate at INIT if post-MED data available-->
                                    <!--<a class="dropdown-item" >sequencing depth</a>-->
                                    <!--<a class="dropdown-item" >sequencing similarity</a>-->
                                    <!--<a class="dropdown-item" >host</a>-->
                                    <!--<a class="dropdown-item" >location</a>-->
                                </div>
                            </div>
                        </div>
                        <div class="d-flex viewer_link viewer_link_seq_prof" data-toggle="modal" data-target="#seq-prof-modal">
                            <div class="">Open viewer</div>
                            <i class="material-icons">launch</i>
                        </div>
                    </div>

                </div>
                <div class="p-1 overflow-auto text-center">
                    <svg id="chart_post_med" class="chart seq_prof_chart" width="650" height="400"></svg>
                </div>
            </div>
            <div class="card-footer sample_meta_info_holder" style="font-size:0.5rem;">
                <div class="d-flex">
                    <div class="d-flex flex-wrap mr-auto primary_sample_meta">
                    </div>
                    <div class="secondary_meta_info_collapser" data-toggle="collapse" data-target="#post_med_secondary_sample_meta" data-status="more" style="width:40px">more v</div>
                </div>

                <div class="collapse" id="post_med_secondary_sample_meta">
                    <div class="d-flex flex-wrap secondary_sample_meta" >

                    </div>
                </div>

            </div>
        </div>
        <!-- SEQ-PROF-modal -->
        <!--TODO we need to adjust the modal height so that it is all on one
        view screen on a reasonably sized window.-->
        <div class="modal fade plot_item" id="seq-prof-modal" style="height: 95vh;">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="bg-light p-2" >
                            <div class="d-flex">
                                <div class="btn-group btn-group-sm mr-auto" >
                                    <button  class="btn btn-light dtype-btn" data-data-type="post-profile" style="padding:2px 4px;font-size:0.7rem;border:1px solid lightgrey">relative</button>
                                    <button  class="btn btn-primary dtype-btn" data-data-type="post-profile" style="padding:2px 4px;font-size:0.7rem;">absolute</button>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="padding:2px 4px;font-size:0.7rem;">
                                           Sort by:
                                        </button>
                                        <div class="dropdown-menu svg_sort_by" data-data-type="post-profile" style="padding:2px 4px;font-size:0.7rem;">
                                            <!--Set at init-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-1 overflow-auto text-center">
                            <svg id="chart_post_med_modal" class="chart seq_prof_chart"  ></svg>
                            <svg id="chart_profile_modal" class="chart seq_prof_chart"  ></svg>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer" style="font-size:0.5rem;display:block;">
                        <div class="pb-2 sample_meta_info_holder" style="border-bottom:1px solid lightgrey;">
                            <div class="d-flex">
                                <div class="d-flex flex-wrap mr-auto primary_sample_meta">
                                </div>
                                <div class="secondary_meta_info_collapser" data-toggle="collapse" data-target="#seq_prof_modal_secondary_sample_meta" data-status="more" style="width:40px">more v</div>
                            </div>

                            <div class="collapse" id="seq_prof_modal_secondary_sample_meta">
                                <div class="d-flex flex-wrap secondary_sample_meta" >

                                </div>
                            </div>
                        </div>
                        <div class="pb-2 profile_meta_info_holder">
                            <div class="d-flex">
                                <div class="d-flex flex-wrap mr-auto primary_profile_meta">
                                </div>
                                <div class="secondary_meta_info_collapser" data-toggle="collapse" data-target="#modal_secondary_profile_meta" data-status="more" style="width:40px">more v</div>
                            </div>

                            <div class="collapse" id="modal_secondary_profile_meta">
                                <div class="d-flex flex-wrap secondary_profile_meta" >

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--PROFILE SVG HOLDER-->
        <div class="card mb-3 plot_item" id="profile_card">
            <!--CARD HEADER-->
            <div class="card-header" data-toggle="collapse" data-target="#profile_svg_collapse">
                ITS2 type profiles
            </div>
            <!--CARD BODY-->
            <div class="card-body p-0 collapse show" id="profile_svg_collapse">
                <div class="bg-light p-2" >
                    <div class="d-flex">
                        <div class="btn-group btn-group-sm mr-auto" >
                            <button id="ProfileMEDRelDType" class="btn btn-light dtype-btn" data-data-type="profile" style="padding:2px 4px;font-size:0.7rem;border:1px solid lightgrey">relative</button>
                            <button id="ProfileMEDAbsDType" class="btn btn-primary dtype-btn" data-data-type="profile" style="padding:2px 4px;font-size:0.7rem;">absolute</button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="padding:2px 4px;font-size:0.7rem;">
                                   Sort by:
                                </button>
                                <div class="dropdown-menu svg_sort_by" data-data-type="profile" style="padding:2px 4px;font-size:0.7rem;">

                                </div>
                            </div>
                        </div>
                        <div class="d-flex viewer_link viewer_link_seq_prof" data-toggle="modal" data-target="#seq-prof-modal">
                            <div class="">Open viewer</div>
                            <i class="material-icons">launch</i>
                        </div>
                    </div>
                </div>
                <div class="p-1 overflow-auto text-center">
                    <svg id="chart_profile" class="chart seq_prof_chart" width="650" height="400"></svg>
                </div>
            </div>
            <div class="card-footer" style="font-size:0.5rem;">
                <div class="pb-2 sample_meta_info_holder" style="border-bottom:1px solid lightgrey;">
                    <div class="d-flex">
                        <div class="d-flex flex-wrap mr-auto primary_sample_meta">
                        </div>
                        <div class="secondary_meta_info_collapser" data-toggle="collapse" data-target="#profile_secondary_sample_meta" data-status="more" style="width:40px">more v</div>
                    </div>

                    <div class="collapse" id="profile_secondary_sample_meta">
                        <div class="d-flex flex-wrap secondary_sample_meta" >

                        </div>
                    </div>
                </div>
                <div class="pb-2 profile_meta_info_holder">
                    <div class="d-flex">
                        <div class="d-flex flex-wrap mr-auto primary_profile_meta">
                        </div>
                        <div class="secondary_meta_info_collapser" data-toggle="collapse" data-target="#profile_secondary_profile_meta" data-status="more" style="width:40px">more v</div>
                    </div>

                    <div class="collapse" id="profile_secondary_profile_meta">
                        <div class="d-flex flex-wrap secondary_profile_meta" >

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--PRE MED SVG HOLDER-->
        <div class="card mb-3 plot_item" id="pre_med_card" style="display:None;">
            <!--CARD HEADER-->
            <div class="card-header" data-toggle="collapse" data-target="#pre_med_svg_collapse">
                Pre-MED ITS2 sequences <span style="font-size:0.5rem;">(rendering the pre-MED seqs may take a little time)</span>
            </div>
            <!--CARD BODY-->
            <div class="card-body p-0 collapse" id="pre_med_svg_collapse">
                <div class="bg-light p-2" >
                    <div class="btn-group btn-group-sm" >
                        <button id="PreMEDRelDType" class="btn btn-light dtype-btn" data-data-type="pre" style="padding:2px 4px;font-size:0.7rem;border:1px solid lightgrey">relative</button>
                        <button id="PreMEDAbsDType" class="btn btn-primary dtype-btn" data-data-type="pre" style="padding:2px 4px;font-size:0.7rem;">absolute</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="padding:2px 4px;font-size:0.7rem;">
                               Sort by:
                            </button>
                            <div class="dropdown-menu svg_sort_by" data-data-type="pre" style="padding:2px 4px;font-size:0.7rem;">
                                <!--populate at INIT if post-MED data available-->
                                    <!--<a class="dropdown-item" >sequencing depth</a>-->
                                    <!--<a class="dropdown-item" >sequencing similarity</a>-->
                                    <!--<a class="dropdown-item" >host</a>-->
                                    <!--<a class="dropdown-item" >location</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-1 overflow-auto text-center">
                    <svg id="chart_pre_med" class="chart seq_prof_chart" width="650" height="400"></svg>
                </div>
            </div>
            <div class="card-footer sample_meta_info_holder" style="font-size:0.5rem;">
                <span style="font-weight:bold;">Sample:</span>
                <span class="meta_sample_name">--</span>
                <span style="font-weight:bold;">UID:</span>
                <span class="meta_sample_uid">--</span>
                <span style="font-weight:bold;">Host</span>
                <span class="meta_sample_host">--</span>
                <span style="font-weight:bold;">Depth:</span>
                <span class="meta_sample_depth">--</span>
                <span style="font-weight:bold;">Lat:</span>
                <span class="meta_sample_lat">--</span>
                <span style="font-weight:bold;">Lon:</span>
                <span class="meta_sample_lon">--</span>
            </div>
        </div>

        <!--BTWN sample distances-->
        <div class="card mb-3 plot_item" id="between_sample_distances">
            <div class="card-header d-inline-flex" data-toggle="collapse" data-target="#btwn_sample_dist_collapse">
                <div class="mr-auto">Genera separated between sample distances</div>
                <div class="genera_identifier" style="font-weight:bold;font-style: italic;"></div>
            </div>
            <div class="card-body p-0 collapse show" id="btwn_sample_dist_collapse">
                <!--TODO implement selction for PC to view.-->
                <div class="bg-light p-2" >
                    <div class="d-flex">
                        <div class="btn-group btn-group-sm mr-auto" >
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle genera_select_button" data-toggle="dropdown" data-genera="Genera:" style="padding:2px 4px;font-size:0.7rem;">
                                   Genera:
                                </button>
                                <div class="dropdown-menu genera_select" data-data-type="post" style="padding:2px 4px;font-size:0.7rem;">
                                </div>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle color_select_button" data-toggle="dropdown" data-color="no_color" style="padding:2px 4px;font-size:0.7rem;">
                                   no_color
                                </button>
                                <div class="dropdown-menu color_select" data-data-type="post" style="padding:2px 4px;font-size:0.7rem;">

                                </div>
                            </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle pc_selector" data-toggle="dropdown" data-pc="PC2" style="padding:2px 4px;font-size:0.7rem;">
                               PC2
                            </button>
                            <div class="dropdown-menu pc_select" style="padding:2px 4px;font-size:0.7rem;">

                            </div>
                        </div>
                        </div>

                        <div class="d-flex viewer_link" data-toggle="modal" data-target="#btwn_sample_modal">
                            <div class="">Open viewer</div>
                            <i class="material-icons">launch</i>
                        </div>

                    </div>

                </div>
                <div class="p-1 overflow-auto text-center">
                    <!--BTWN sample svg-->
                    <svg id="chart_btwn_sample" class="chart dist_chart dist_chart_sample" width="400" height="400"></svg>
                </div>
                <div class=" p-2" >
                    <div class="d-flex">
                        <div style="font-size:0.7rem;" class="m-auto" style="width:30%;">
                            Mask by abundance: <b>min (0)</b> <input id="sample_mask_slider" type="text" class="span2" value="" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="[0.25,0.45]"/> <b>max (1)</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer sample_meta_info_holder" style="font-size:0.5rem;">
                <div class="d-flex">
                    <div class="d-flex flex-wrap mr-auto primary_sample_meta">
                    </div>
                    <div class="secondary_meta_info_collapser" data-toggle="collapse" data-target="#btwn_sample_secondary_sample_meta" data-status="more" style="width:40px">more v</div>
                </div>

                <div class="collapse" id="btwn_sample_secondary_sample_meta">
                    <div class="d-flex flex-wrap secondary_sample_meta" >

                    </div>
                </div>
            </div>
        </div>
        <!-- BTWN Sample Modal -->
        <div class="modal fade plot_item" id="btwn_sample_modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal body -->
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                        <div class="bg-light p-2" >
                            <div class="d-flex">
                                <div class="btn-group btn-group-sm mr-auto" >
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="padding:2px 4px;font-size:0.7rem;">
                                           Genera:
                                        </button>
                                        <div class="dropdown-menu genera_select" data-data-type="post" style="padding:2px 4px;font-size:0.7rem;">
                                            <a class="dropdown-item" style="font-style:italic;">Symbiodinium</a>
                                            <a class="dropdown-item" style="font-style:italic;">Breviolum</a>
                                            <a class="dropdown-item" style="font-style:italic;">Cladocopium</a>
                                            <a class="dropdown-item" style="font-style:italic;">Durusdinium</a>
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="padding:2px 4px;font-size:0.7rem;">
                                           Color by:
                                        </button>
                                        <div class="dropdown-menu color_select" data-data-type="post" style="padding:2px 4px;font-size:0.7rem;">
                                            <a class="dropdown-item" >host</a>
                                            <a class="dropdown-item" >location</a>
                                            <a class="dropdown-item" >no color</a>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-right:1rem;font-weight:bold;font-style:italic;">Symbiodinium</div>
                            </div>
                        </div>

                        <div class="p-1 overflow-auto text-center">
                            <svg id="chart_btwn_sample_modal" class="chart dist_chart" style="border:1px solid black;" width="400" height="400"></svg>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer sample_meta_info_holder" style="font-size:0.5rem;display:block;">
                        <div class="pb-2">
                            <div class="d-flex">
                                <div class="d-flex flex-wrap mr-auto primary_sample_meta">
                                </div>
                                <div class="secondary_meta_info_collapser" data-toggle="collapse" data-target="#btwn_sample_modal_secondary_sample_meta" data-status="more" style="width:40px">more v</div>
                            </div>

                            <div class="collapse" id="btwn_sample_modal_secondary_sample_meta">
                                <div class="d-flex flex-wrap secondary_sample_meta" >

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!--BTWN profile distances-->
        <div class="card mb-3 plot_item" id="between_profile_distances">
            <!--HEADER-->
            <div class="card-header d-inline-flex" data-toggle="collapse" data-target="#btwn_profile_dist_collapse">
                <div class="mr-auto">Genera separated between profile distances</div>
                <div class="genera_identifier" style="font-weight:bold;font-style: italic;"></div>
            </div>

            <!--BODY-->
            <div class="card-body p-0 collapse show" id="btwn_profile_dist_collapse">
                <div class="bg-light p-2" >
                    <div class="d-flex">
                        <div class="btn-group btn-group-sm mr-auto" >
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle genera_select_button" data-toggle="dropdown" style="padding:2px 4px;font-size:0.7rem;">
                                   Genera:
                                </button>
                                <div class="dropdown-menu genera_select" data-data-type="post" style="padding:2px 4px;font-size:0.7rem;">
                                </div>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle color_select_button" data-toggle="dropdown" data-color="profile_identity" style="padding:2px 4px;font-size:0.7rem;">
                                   profile_identity
                                </button>
                                <div class="dropdown-menu color_select" data-data-type="post" style="padding:2px 4px;font-size:0.7rem;">

                                </div>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle pc_selector" data-toggle="dropdown" data-pc="PC2" style="padding:2px 4px;font-size:0.7rem;">
                                   PC2
                                </button>
                                <div class="dropdown-menu pc_select" style="padding:2px 4px;font-size:0.7rem;">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex viewer_link" data-toggle="modal" data-target="#btwn_profile_modal">
                            <div class="">Open viewer</div>
                            <i class="material-icons">launch</i>
                        </div>

                    </div>

                </div>
                <div class="p-1 overflow-auto text-center">
                    <svg id="chart_btwn_profile" class="chart dist_chart" width="400" height="400"></svg>
                </div>
                <div class=" p-2" >
                    <div class="d-flex">
                        <div style="font-size:0.7rem;" class="m-auto">
                            Mask by abundance: <b>min (0)</b> <input id="profile_mask_slider" type="text" class="span2" value="" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="[0.25,0.45]"/> <b>max (100)</b>
                        </div>
                    </div>
                </div>
            </div>

            <!--FOOTER-->
            <div class="card-footer" style="font-size:0.5rem;">
                <div class="pb-2 profile_meta_info_holder">
                    <div class="d-flex">
                        <div class="d-flex flex-wrap mr-auto primary_profile_meta">
                        </div>
                        <div class="secondary_meta_info_collapser" data-toggle="collapse" data-target="#btwn_profile_secondary_sample_meta" data-status="more" style="width:40px">more v</div>
                    </div>

                    <div class="collapse" id="btwn_profile_secondary_sample_meta">
                        <div class="d-flex flex-wrap secondary_profile_meta" >

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BTWN profile Modal -->
    <div class="modal fade plot_item" id="btwn_profile_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <div class="bg-light p-2" >
                        <div class="d-flex">
                            <div class="btn-group btn-group-sm mr-auto" >
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="padding:2px 4px;font-size:0.7rem;">
                                       Genera:
                                    </button>
                                    <div class="dropdown-menu genera_select" data-data-type="post" style="padding:2px 4px;font-size:0.7rem;">
                                        <a class="dropdown-item" style="font-style:italic;">Symbiodinium</a>
                                        <a class="dropdown-item" style="font-style:italic;">Breviolum</a>
                                        <a class="dropdown-item" style="font-style:italic;">Cladocopium</a>
                                        <a class="dropdown-item" style="font-style:italic;">Durusdinium</a>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="padding:2px 4px;font-size:0.7rem;">
                                       Color by:
                                    </button>
                                    <div class="dropdown-menu color_select" data-data-type="post" style="padding:2px 4px;font-size:0.7rem;">
                                        <a class="dropdown-item" >host</a>
                                        <a class="dropdown-item" >location</a>
                                        <a class="dropdown-item" >no color</a>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-right:1rem;font-weight:bold;font-style:italic;">Symbiodinium</div>
                        </div>
                    </div>

                    <div class="p-1 overflow-auto text-center">
                        <svg id="chart_btwn_prof_modal" class="chart dist_chart" width="650" height="400"></svg>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer" style="font-size:0.5rem;display:block;">
                    <div class="pt-2">
                        <span class="meta_profile_name">--</span>
                        <span style="font-weight:bold;">UID:</span>
                        <span class="meta_profile_uid">--</span>
                        <span style="font-weight:bold;">Host</span>
                        <span class="meta_profile_host">--</span>
                        <span style="font-weight:bold;">Depth:</span>
                        <span class="meta_profile_depth">--</span>
                        <span style="font-weight:bold;">Lat:</span>
                        <span class="meta_profile_lat">--</span>
                        <span style="font-weight:bold;">Lon:</span>
                        <span class="meta_profile_lon">--</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--RHS-->
    <div class="col-md-5">

        <!--TODO make it so that there is an arrow and that the whole bar is clickable
        https://codepen.io/nhembram/pen/XKEJJp -->
        <!--CARDS-->
        <div class="card mb-3">
            <div class="card-header" data-toggle="collapse" data-target="#dataset_info_collapse">
                Dataset
            </div>

            <div class="card-body collapse show" id="dataset_info_collapse" style="font-size:0.8rem;">
                <div class="row " >
                    <dt class="col-sm-6">
                        <span class="float-right">Dataset Name:</span>
                    </dt>
                    <dd class="col-sm-6">
                        restrepo_20190918
                    </dd>
                    <dt class="col-sm-6">
                        <span class="float-right">Dataset UID:</span>
                    </dt>
                    <dd class="col-sm-6">
                        343
                    </dd>
                    <dt class="col-sm-6">
                        <span class="float-right">First recieved:</span>
                    </dt>
                    <dd class="col-sm-6">
                        13 September, 2019
                    </dd>
                    <dt class="col-sm-6">
                        <span class="float-right" style="width:100%;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;">SymPortal Version (loading):</span>
                    </dt>
                    <dd class="col-sm-6">
                        V0.3.13
                    </dd>
                    <dt class="col-sm-6">
                        <span class="float-right">SymPortal version (analysis):</span>
                    </dt>
                    <dd class="col-sm-6">
                        V0.3.13
                    </dd>
                    <dt class="col-sm-6">
                        <span class="float-right">Datasheet:</span>
                    </dt>
                    <dd class="col-sm-6" style="width:100%;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;">
                        <a href="#home">datasheet_20190918.xlsx</a>
                    </dd>
                    <dt class="col-sm-6">
                        <span class="float-right">Number of samples:</span>
                    </dt>
                    <dd class="col-sm-6">
                        604
                    </dd>
                    <dt class="col-sm-6">
                        <span class="float-right">Sequencing accesion:</span>
                    </dt>
                    <dd class="col-sm-6">
                        <a href="#home">PBA647382</a>
                    </dd>
                    <!--TODO can have popup on the anlysis that will show stats for that-->
                    <dt class="col-sm-6">
                        <span class="float-right">Analysis UID:</span>
                    </dt>
                    <dd class="col-sm-6">
                        604
                    </dd>
                    <dt class="col-sm-6">
                        <span class="float-right">Analysis name:</span>
                    </dt>
                    <dd class="col-sm-6">
                        DBV_20190809
                    </dd>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="#home">json dump</a>
                </div>
            </div>

        </div>
        <div class="card mb-3">
            <div class="card-header" data-toggle="collapse" data-target="#analysis_info_collapse">
                Analysis
            </div>
            <div class="card-body collapse" id="analysis_info_collapse" style="font-size:0.8rem;">
                <div class="row" >
                    <dt class="col-sm-6">
                        <span class="float-right">Analysis UID:</span>
                    </dt>
                    <dd class="col-sm-6">
                        604
                    </dd>
                    <dt class="col-sm-6">
                        <span class="float-right">Analysis name:</span>
                    </dt>
                    <dd class="col-sm-6">
                        DBV_20190809
                    </dd>
                    <dt class="col-sm-6">
                        <span class="float-right">SymPortal version (analysis):</span>
                    </dt>
                    <dd class="col-sm-6">
                        V0.3.13
                    </dd>
                    <dt class="col-sm-6">
                        <span class="float-right">Number of profiles:</span>
                    </dt>
                    <dd class="col-sm-6">
                        23
                    </dd>
                    <dt class="col-sm-6">
                        <span class="float-right">Datasheet:</span>
                    </dt>
                    <dd class="col-sm-6">
                        <a href="#home">datasheet_20190918.xlsx</a>
                    </dd>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header" data-toggle="collapse" data-target="#resource_download_info_collapse">
                Resource download
            </div>
            <div class="card-body collapse" id="resource_download_info_collapse" style="font-size:0.8rem;">
                <div class="row" >
                    <dt class="col-sm-6">
                        <span class="float-right">Pre-MED seq count table:</span>
                    </dt>
                    <dd class="col-sm-6">
                        <a href="#home">12.2334234.234245345.longlonglonglong.asdf.name.txt</a>
                    </dd>
                    <dt class="col-sm-6">
                        <span class="float-right">Post-MED seq count table::</span>
                    </dt>
                    <dd class="col-sm-6">
                        <a href="#home">12.2334234.234245345.longlonglonglong.asdf.name.txt</a>
                    </dd>
                    <dt class="col-sm-6">
                        <span class="float-right">ITS2 type profile count table:</span>
                    </dt>
                    <dd class="col-sm-6">
                        <a href="#home">12.2334234.234245345.longlonglonglong.asdf.name.txt</a>
                    </dd>
                    <dt class="col-sm-6">
                        <span class="float-right">Between sample distances:</span>
                    </dt>
                    <dd class="col-sm-6">
                        <a href="#home">12.2334234.234245345.longlonglonglong.asdf.name.txt</a>
                    </dd>
                    <dt class="col-sm-6">
                        <span class="float-right">Between profile distances:</span>
                    </dt>
                    <dd class="col-sm-6">
                        <a href="#home">12.2334234.234245345.longlonglonglong.asdf.name.txt</a>
                    </dd>
                </div>
            <div class="d-flex justify-content-end">
                <a href="#home">Download all</a>
            </div>
          </div>

        </div>
        <!--MAP-->
        <span style="font-size:0.5rem;font-weight:bold;">Click markers for site details</span>
        <div id="map" style="height:400px;border:1px solid black;"></div>

    </div>
    </div>

<script src="{{ url_for('static', filename='data/data_explorer_data/' + study_to_load + '/study_data.js') }}"></script>
<script src="{{ url_for('static', filename='data/data_explorer_data/' + study_to_load + '/study_meta_info.js') }}"></script>

<!--TODO to enable the marker clustering we will need to have the library on the server-->
<!--<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/data_explorer.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkCzzx0s24NKJ3qGS-4xVBwzMGSI4thNA"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>