sp_app/static/data/
sp_app/static/utils/google_maps_api_key.txt
media
./media/*
templated-projection
templated-projection/*
.idea
.DS_Store
.idea/*
.DS_Store/*
symportal_website/images/
__pycache__/
sp_app/data_dev/
sp_app/static/images/
symportal_website/data/
symportal_website/data_dev/html_data/
.vscode/launch.json
app.db
*__pycache__*
migrations/README
migrations/env.py
migrations/alembic.ini
migrations/script.py.mako
published_articles.json
certbot_setup_output_https.txt
symportal_database_versions
sp_app/password.txt
published_articles_sp.json
sp_app/static/resources
example_automate_sp_output.json
published_articles_archive/
published_articles_sp.json_backup
.vscode/*
nginx/conf.d/virtual*
sp_app/explorer_data/
