media
./media/*
templated-projection
templated-projection/*
.idea
.DS_Store
.idea/*
.DS_Store/*
symportal_website/images/
__pycache__/
sp_app/data_dev/
sp_flask_launcher.py
sp_app/static/images/
symportal_website/data/
symportal_website/data_dev/html_data/
